<div class="card">
    <div class="left">
      {{#each question}}
        {{this}}<br />
      {{/each}}
    </div>

    <div class="right">
      {{#each answers}}
        <p>{{this}}</p>
      {{/each}}
    </div>
</div>
