<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    {{{@body}}}

    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:300');

        .card{
            width: 736px;
            padding: 30px;
            font: 16px 'Roboto';
            color: #525252;
            overflow: hidden;
        }

        .card .left{
            width: 65%;
            float: left
        }

        .card .right{
            float: right;
            width: 30%;
            border-left: 2px solid #a8a8a8;
            padding-left: 30px;
        }

        .card .right p{
            margin: 0 0 15px 0;
        }
    </style>

</body>
</html>
